/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*エリア分け*/

.right-left-container {
    display: flex;
}

.left-container {
    display: flex;
    width: 80%;
    flex-direction: column
}

.right-container {
    width: 20%;
}

.left-botom-container {
    display: flex;
    height: 30vh;
}

.selected-photo-area {
    background-color: lightblue;
    display: block;
    height: 70vh;
}

.thumbnail-list-area {
    background-color: lightgray;
    display: block;
    height: 100vh;
}

.classification-area {
    background-color: linen;
    display: block;
    width: 50%;
}

.comment-area {
    display: block;
    width: 50%;
    background-color: mintcream;
}

.comment-balloon {
    position: relative;
    display: block;
    width: 90%;
    height: 95%;
    margin: 15px auto;
    background-color: palegreen;
    border-radius: 10px;
}

    .comment-balloon::before {
        content: '';
        position: absolute;
        left: 20px;
        top: -15px;
        display: block;
        width: 0;
        height: 0;
        border-right: 15px solid transparent;
        border-bottom: 15px solid palegreen;
        border-left: 15px solid transparent;
    }
