@{
    ViewData["Title"] = "MainPage";
}
<div class="right-left-container">
    <div class="left-container">
        <div class="selected-photo-area">
            <p>選択した画像を表示するエリア</p>
        </div>
        <div class="left-botom-container">
            <div class="classification-area">
                <p>分類情報を入力するエリア</p>
            </div>
            <div class="comment-area">
                <p>自由記述欄</p>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="thumbnail-list-area">
            <p>サムネイル一覧を表示するエリア</p>
        </div>
    </div>
</div>
