@using System;
@using System.IO;
@using System.Collections;
@{
    ViewData["Title"] = "MainPage";
}
<div class="right-left-container">
    <div class="left-container">
        <div class="selected-photo-area">
            <p>選択した画像を表示するエリア</p>
        </div>
        <div class="left-botom-container">
            <div class="classification-area">
                <div class="classification-table">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>確証度</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control form-control-sm"></td>
                                <td>網</td>
                                <td>
                                    <select class="form-select form-select-sm">
                                        <option selected></option>
                                        <option>〇</option>
                                        <option>△</option>
                                        <option>×</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-control form-control-sm"></td>
                                <td>目</td>
                                <td>
                                    <select class="form-select form-select-sm">
                                        <option selected></option>
                                        <option>〇</option>
                                        <option>△</option>
                                        <option>×</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-control form-control-sm"></td>
                                <td>科</td>
                                <td>
                                    <select class="form-select form-select-sm">
                                        <option selected></option>
                                        <option>〇</option>
                                        <option>△</option>
                                        <option>×</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-control form-control-sm"></td>
                                <td>属</td>
                                <td>
                                    <select class="form-select form-select-sm">
                                        <option selected></option>
                                        <option>〇</option>
                                        <option>△</option>
                                        <option>×</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-control form-control-sm"></td>
                                <td>種</td>
                                <td>
                                    <select class="form-select form-select-sm">
                                        <option selected></option>
                                        <option>〇</option>
                                        <option>△</option>
                                        <option>×</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="comment-area">
                <div class="comment-balloon">
                    <p>自由記述欄</p>
                </div>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="thumbnail-list-area">
            @{
                string path = @".\wwwroot\img\";
                string[] ThumbnailPics = Directory.GetFiles(path);
            }
            @foreach (var pic in ThumbnailPics)
            {
                string PicPath = "." + pic[9..]; //相対パスから"wwwroot"を切り抜いた文字列
                <div class="thumbnails">
                    <img src=@PicPath alt="サムネイル画像" />
                </div>
            }
         </div>
    </div>
</div>
