@using System;
@using System.IO;
@using System.Collections;
@{
    ViewData["Title"] = "MainPage";
}
<div class="right-left-container">
    <div class="left-container">
        <div class="selected-photo-area">
            <p>選択した画像を表示するエリア</p>
        </div>
        <div class="left-botom-container">
            <div class="classification-area">
                <p>分類情報を入力するエリア</p>
            </div>
            <div class="comment-area">
                <div class="comment-balloon">
                    <p>自由記述欄</p>
                </div>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="thumbnail-list-area">
            @{
                string path = @".\wwwroot\img\";
                string[] ThumbnailPics = Directory.GetFiles(path);
            }
            @foreach (var pic in ThumbnailPics)
            {
                string PicPath = "." + pic[9..]; //相対パスから"wwwroot"を切り抜いた文字列
                <div class="thumbnails">
                    <img src=@PicPath alt="サムネイル画像" />
                </div>
            }
         </div>
    </div>
</div>
